
rust-analyzer
plugged/
.DS_Store
.AppleDouble
.LSOverride
autostart/
dconf/
falkon/
gh/
gtk-2.0/
gtk-3.0/
Kvantum/
manjaro/
manjaro-hello.json
midori/
mimeapps.list
pulse/
qt5ct/
Thunar/
user-dirs
user-dirs.locale
volumeicon/
xfce4/
Mousepad/
pamac/
touchegg/
user-dirs.dirs
__pycache__/
zoomus.conf
zoom.conf
gtk-4.0/
gnome*
evolution/
Code/
ibus/
monitors*
nvim/nvim-osx*
ttyper/
enchant/
gedit/
